<!DOCTYPE html>
<html>
<head>
    #parse("sys_param.vm")

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>$!{TITLE}</title>

    #parse("addon/css.vm")
</head>
<body>
<div class="container">
    <div class="row">
        <header>
            <a href="javascript:void" onclick="toRegister()" class="fr">快速注册<i class="iconfont icon-shuangjiantou"></i></a>
        </header>
        <div class="banner">
            <img src="$!{CONTEXT_PATH}/static/img/m_logo.png" alt="logo" />
        </div>
        <div class="loginbox">
            <form id="loginForm">
                <ul>
                    <li>
                        <label>手机号:</label>
                        <input type="tel" name="phoneNo" placeholder="请输入正确有效的手机号"/>
                    </li>
                    <li>
                        <label class="pass">密&nbsp;&nbsp;&nbsp;码:</label>
                        <input type="password" name="password" id="password" placeholder="请输入密码"/>
                        <i class="iconfont icon-eye look_pass passShow" state="1"></i>
                    </li>
                </ul>
            </form>
            <button class="btn btn-login" id="login">登录</button>
            <a href="$!{CONTEXT_PATH}/user/forget" class="forget">忘记密码</a>
        </div>
        <div class="link">
            <p>第三方账户登录</p>
            <div class="list">
                <a href="$!{CONTEXT_PATH}/weChatLogin/login" class="weixin"><i class="iconfont icon-weixin"></i></a>
                <a href="#" class="weibo"><i class="iconfont icon-weibo"></i></a>
                <a href="#" class="qq"><i class="iconfont icon-qq"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
#parse("addon/javascript.vm")
<script type="text/javascript">
    $(function() {
        if('$!{resultBean.flag}' == 'false') {
            alert('$!{resultBean.msg}');
        }

        // 是否现实密码
        $('.passShow').click(function() {
            if($(this).attr('state') == '1') {
                $('#password').hideShowPassword(true);
                $(this).attr('state', '0');
            } else if($(this).attr('state') == '0') {
                $('#password').hideShowPassword(false);
                $(this).attr('state', '1');
            }
        });

        $('#login').bind('click', login);
    });

    function checkTel(value){
        var isMob= /^(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;

        if(isMob.test(value)) {
            return true;
        }
        else{
            return false;
        }
    }

    // 登陆
    function login() {
        var phoneNo = $('#loginForm').find('input[name="phoneNo"]').val();
        if(phoneNo == '') {
            alert('请输入手机号码');
            return;
        }
        if (!checkTel(phoneNo)) {
            alert("请输入正确的手机号码");
            return;
        }

        var pwd = $('#loginForm').find('input[name="password"]').val();
        if(pwd == '') {
            alert('请输入密码');
            return;
        }

        $('#login').addClass('btn-gray');
        $('#login').unbind('click');

        $.ajax({
            url: base + '/user/login',
            data: $('#loginForm').serialize(),
            type: 'post',
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('网络异常，请稍后再试');

                $('#login').removeClass('btn-gray');
                $('#login').bind('click', login);
            },
            success: function(data) {
                if(data.flag) {
                    location.href = '$!{CONTEXT_PATH}/patient/index';
                } else {
                    ajaxErrorCallBack(data);
                    $('#login').removeClass('btn-gray');
                    $('#login').bind('click', login);

                }
            }
        });
    }

    function toRegister() {
        location.href = '$!{CONTEXT_PATH}/user/register';
    }
</script>