<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E帮护</title>

    #parse("sys_param.vm")
    #parse("addon/css.vm")

    <script type="text/javascript">
        // 跳转手机登陆页面
        to_phone('$!{CONTEXT_PATH}/p/1/login');
    </script>

    <link href="$!{CONTEXT_PATH}/static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="login">
            <div class="head">
##                <img src="$!{CONTEXT_PATH}/static/img/kitchen_logo.png" alt="" />
                <span></span>
##                <img src="$!{CONTEXT_PATH}/static/img/logo2.png" alt="" class="fr"/>
            </div>
            <div class="login_wrap clearfix">
                <div class="left"></div>
                <div class="right">
                    <div class="loginbox">
                        <p class="wel">欢迎您登录</p>
                        <form id="loginForm">
                            <input type="hidden" name="type" value="1">
                            <input type="text" class="username" placeholder="请输入账号" name="userName"/>
                            <input type="password"  class="password" placeholder="请输入密码" name="password"/>
                        </form>
                        <p class="clearfix">
                            <a href="#">忘记密码？</a>
                            <a href="#">免费注册</a>
                        </p>
                        <p class="errorMsg"></p>
                        <button class="btn btn-login">登录</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="login_foot">
            <ul>
                <li><a href="#"><i class="iconfont icon-yijianfankui"></i>意见反馈</a></li>
                <li><a href="#"><i class="iconfont icon-wenhao"></i>帮助中心</a></li>
                <li><a href="#">版权所有©2016</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
    #parse("addon/javascript.vm")
</html>
<script type="text/javascript">
    $(function() {
        var from = '$!{request.getAttribute("from")}';
        // 登陆
        $('.btn-login').click(function() {
            var form = $('#loginForm');
            var userName = form.find('.username').val();
            var password = form.find('.password').val();

            if(userName == null || userName == '') {
                showMsg('请输入用户名');
                return;
            }

            if(password == null || password == '') {
                showMsg('请输入密码');
                return;
            }

            var url = base + '/login';
            var data = $('#loginForm').serialize();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: data,
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    showMsg('登陆异常');
                },
                success : function (data, textStatus) {
                    var flag = data.flag;

                    if(flag) {
                        location.href = '$!{CONTEXT_PATH}/manager'
                    } else {
                        showMsg(data.msg);
                    }
                }
            });
        });
    });

    function showMsg(msg){
        $(".errorMsg").html("<i class='iconfont icon-cuowu'></i>"+msg);
    }
</script>
