#set($layout = "layout.vm")
#parse("sys_param.vm")

<div class="container content">
    <div class="row">
        <div class="col-sm-12 paginationDiv">
            <div class="page-nav">
                <a href="javascript:void(0);" class="last">基础数据</a>
                &gt;
                <a href="javascript:void(0)" class="last">护理类型管理</a>
                <button class="reback" onclick="history.go(-1)"><i class="iconfont icon-left"></i>返回</button>
            </div>
            <!--search  area-->
            <div class="searchArea">
                <form action="$!{CONTEXT_PATH}/nursingType/list" method="post" id="searchForm">
                    <div class="form-group">
                        <label>护理名称</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>名称简拼</label>
                        <input type="text" class="form-control" name="simplePinyin" />
                    </div>
                </form>
                <button class="btn btn-primary search" onclick="qryData('searchForm')"><i class="iconfont icon-sousuo"></i>查询</button>
                <button class="btn btn-success reset" onclick="resetForm('searchForm')"><i class="iconfont icon-shuaxin"></i>重置</button>
            </div>
            <!--card list-->
            <div class="btn-list">
                <button class="btn btn-success" data-toggle="modal" data-target="#add"><i class="iconfont icon-jia"></i>新增</button>
            </div>

            <!--table area-->
            <div class="table_area">
                <input type="hidden" id="p_number" value="">

                <div class="queryResultList" id="queryResultList">

                </div>

                #paginationDiv()

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加护理类型</h4>
            </div>
            <div class="modal-body">
                <div class="modal_wrap">
                    <form id="addForm">
                        <!--info table-->
                        <table class="table table-bordered detailInfo">
                            <tr>
                                <td class="col-sm-2">护理名称<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <input class="form-control validate[required]" type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">描述<span class="star">*</span></td>
                                <td class="col-sm-10">
                                    <input class="form-control validate[required]" type="text" name="description">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer border">
                <button type="button" class="btn btn-success btn-baocun btn-add"><i class="iconfont icon-baocun"></i>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改护理类型</h4>
            </div>
            <div class="modal-body">
                <div class="modal_wrap">
                    <form id="modifyForm">
                        <input type="hidden" name="id" >
                        <!--info table-->
                        <table class="table table-bordered detailInfo">
                            <tr>
                                <td class="col-sm-2">护理名称<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <input class="form-control validate[required]" type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">描述<span class="star">*</span></td>
                                <td class="col-sm-10">
                                    <input class="form-control validate[required]" type="text" name="description">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer border">
                <button type="button" class="btn btn-success btn-baocun btn-modify"><i class="iconfont icon-baocun"></i>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        qryData('searchForm');

        // 新增显示
        $('#add').on('show.bs.modal', function (el) {
            $('#addForm').validationEngine('hideAll');
            $('#addForm')[0].reset();
        });

        // 新增保存
        $('.btn-add').click(function() {
            var flag = $('#addForm').validationEngine('validate');
            if(!flag)
                return;

            showMask();

            var url = base + '/nursingType/add';
            $.ajax({
                url: url,
                data: $('#addForm').serialize(),
                type: 'post',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        hideMask();
                        $('#addForm')[0].reset();
                        $('#add').modal('hide');

                        qryData('searchForm');
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        // 修改按钮加载数据
        $('#modify').on('show.bs.modal', function (el) {
            var invoker = $(el.relatedTarget);

            var id = invoker.attr('id');

            var url = base + '/nursingType/get?id=' + id;
            $.ajax({
                url: url,
                type: 'get',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        data = data.data;

                        $('#modifyForm').find('input[name="id"]').val(data.id);
                        $('#modifyForm').find('input[name="name"]').val(data.name);
                        $('#modifyForm').find('input[name="price"]').val(data.price);
                        $('#modifyForm').find('input[name="description"]').val(data.description);

                        hideMask();
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        // 修改保存
        $('.btn-modify').click(function() {
            var flag = $('#modifyForm').validationEngine('validate');
            if(!flag)
                return;

            showMask();

            var url = base + '/nursingType/modify';
            $.ajax({
                url: url,
                data: $('#modifyForm').serialize(),
                type: 'post',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        hideMask();
                        $('#modify').modal('hide');

                        qryData('searchForm');
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });
    });
</script>