<!DOCTYPE html>
<html>
<head>
    #parse("sys_param.vm")

    <meta charset="UTF-8">
    <meta a name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>$!{TITLE}</title>

    #parse("addon/css.vm")
</head>
<body class="user_index">
<div class="container guide">
    <div class="row">
        <header class="tc">
            <a href="javascript:goBack()" class="fl">&lt;</a>
            <span>接单成功</span>
        </header>
        <div class="content order">
            <div class="getorder">
                <img src="$!{CONTEXT_PATH}/static/img/ok.png" alt="" />
                <h4>感谢您为E帮护的患者服务!</h4>
                <p>接单已成功！请您及时联系医生进行派单。</p>
            </div>
            <button class="btn btn-orange" onclick="goDispatchDoctor()">立即派单给医生</button>
        </div>
        <div class="footer fixed">
            <p>客服电话：<b>400-158-1616</b></p>
        </div>
    </div>
</div>
</body>
</html>
#parse("addon/javascript.vm")
<script type="text/javascript">
    function goBack() {
        location.href = base + '/recover/index';
    }

    function goDispatchDoctor() {
        location.href = base + '/order/dispatchDoctor';
    }
</script>
