<!DOCTYPE html>
<html>
<head>
    #parse("sys_param.vm")

    <meta charset="UTF-8">
    <meta a name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>$!{TITLE}</title>

    #parse("addon/css.vm")
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/static/js/mui/2.9.0/mui.min.css" ></link>
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/static/js/mui/picker/mui.picker.css" ></link>
    <link rel="stylesheet" type="text/css" href="$!{CONTEXT_PATH}/static/js/mui/picker/mui.poppicker.css" ></link>
</head>
<body class="fill">
    <div class="container guide">
        <div class="row">
            <header>
##                <a href="#"><i class="iconfont icon-errowleft fl"></i></a>
                <span class="m-r-xl">个人简况</span>
            </header>
            <form id="personInfoForm">
                <ul class="infoput clearfix">
                    <li class="clearfix b-b">
                        <label class="control-label col-xs-3">现居地址：</label>
                        <div class="col-xs-9 address">
                            <input type="text" name="address" class="form-control" placeholder="请输入" style="padding-right: 35px;"/>
                            <a href="javascript:void(0)" id="map"></a>
                        </div>
                        <div class="col-xs-12 map">
                            <div id="allmap"></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <label class="control-label col-xs-3">职称级别：</label>
                        <div class="col-xs-9 time">
                            <select name="profess" class="form-control">
                                <option>请选择职称级别</option>
                                #foreach($param in $!{cache.getListByKey("PERFESS_LEVEL")})
                                    <option value="$!{param.pValue}">$!{param.pDesc}</option>
                                #end;
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="infoput clearfix">
                    <li class="clearfix describe">
                        <label class="control-label col-xs-3">服务经验：</label>
                        <div class="col-xs-9 p-n">
                            <textarea rows="3" name="serviceExp" class="form-control" placeholder="请描述主要从业经验..."></textarea>
                        </div>
                    </li>
                </ul>
                <ul class="infoput clearfix serverUl">

                    <li class="clearfix b-b">
                        <label class="control-label col-xs-3">服务地区：</label>
                        <div class="col-xs-9 time">
                            <input type="text" class="form-control" id="show1" placeholder="请选择" readonly style="background-color: #FFF" />
                            <input type="hidden" id="server1" name="server">
                            <a href="javascript:void(0)" id="area1"></a>
                        </div>
                    </li>

                    <li class="clearfix b-b">
                        <label class="control-label col-xs-3 add_head"><i class="iconfont icon-iconfontjian jian2"></i></label>
                        <div class="col-xs-9 time">
                            <input type="text" class="form-control" id="show2" placeholder="请选择" readonly style="background-color: #FFF" />
                            <input type="hidden" id="server2" name="server">
                            <a href="javascript:void(0)" id="area2"></a>
                        </div>
                    </li>

                    <li class="clearfix">
                        <label class="control-label col-xs-3 add_head"><i class="iconfont icon-iconfontjian jian3"></i></label>
                        <div class="col-xs-9 time">
                            <input type="text" class="form-control" id="show3" placeholder="请选择" readonly style="background-color: #FFF" />
                            <input type="hidden" id="server3" name="server">
                            <a href="javascript:void(0)" id="area3"></a>
                        </div>
                    </li>

##                    <li class="clearfix">
##                        <panel class="add_head"><i class="iconfont icon-circularframejiahao add_server"></i>添加服务地区</panel>
##                    </li>
                </ul>
            </form>
            <div class="tc">
                <a href="javascript:void(0);" class="btn btn-login next">下一步</a>
            </div>
            <div class="footer">
                <p>客服电话：<b>400-158-1616</b></p>
            </div>
        </div>
    </div>

</body>
</html>
#parse("addon/javascript.vm")
##<script src="http://api.map.baidu.com/api?type=quick&ak=22002f44f2003d3dd4cefda0d46523f2&v=1.0"></script>
<script src="$!{CONTEXT_PATH}/static/js/mui/2.9.0/mui.min.js" ></script>
<script src="$!{CONTEXT_PATH}/static/js/mui/picker/mui.picker.js" ></script>
<script src="$!{CONTEXT_PATH}/static/js/mui/picker/mui.poppicker.js" ></script>
##<script src="$!{CONTEXT_PATH}/static/js/mui/picker/city.data-3.js" ></script>
<script type="text/javascript">
    $(function() {

//        $('#map').click(function() {
//            if($('.map').css('display') == 'none') {
//                $('.map').slideDown();
//            } else {
//                $('.map').slideUp();
//            }
//        });
//
//        // 百度地图API功能
//        var map = new BMap.Map('allmap');
//        map.centerAndZoom('北京', 12);
//        map.addControl(new BMap.ZoomControl());  //添加地图缩放控件

        // 下一步
        $('.next').bind('click', save);

        $('.jian2').click(function() {
            $('#show2').val('');
            $('#server2').val('');
        });

        $('.jian3').click(function() {
            $('#show3').val('');
            $('#server3').val('');
        });
    });

    function save() {
        var address = $('#personInfoForm').find('input[name="address"]').val();
        if(address == '') {
            alert('请填写现居地址');
            return;
        }

        var profess = $('#personInfoForm').find('select[name="profess"]').val();
        if(profess == '') {
            alert('请选择职业职称');
            return;
        }

        var serviceExp = $('#personInfoForm').find('textarea[name="serviceExp"]').val();
        if(serviceExp == '') {
            alert('请填写服务经验');
            return;
        }

        $('.next').addClass('btn-gray');
        $('.next').unbind('click');

        $('.next').html('正在保存');

        $.ajax({
            url: base + '/recover/personalInfo',
            data: $('#personInfoForm').serialize(),
            type: 'post',
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('网络异常，请稍后再试');

                $('.next').html('下一步');
                $('.next').removeClass('btn-gray');
                $('.next').bind('click', save);
            },
            success: function(data) {
                if(data.flag) {
                    location.href = '$!{CONTEXT_PATH}/recover/upload';
                } else {
                    ajaxErrorCallBack(data);

                    $('.next').html('下一步');
                    $('.next').removeClass('btn-gray');
                    $('.next').bind('click', save);

                }
            }
        });
    }

    (function($$, doc) {
        $$.init();

        $$.ready(function() {
            //-----------------------------------------
            //					//级联示例
            var cityPicker1 = new $$.PopPicker({
                layer: 3
            });

            var cityPicker2 = new $$.PopPicker({
                layer: 3
            });

            var cityPicker3 = new $$.PopPicker({
                layer: 3
            });

            $.ajax({
                url: base + '/recover/zoneSelect',
                type: 'get',
                error: function(XMLHttpRequest, textStatus, errorThrown) {

                },
                success: function(data) {
                    if(data.flag) {
                        data = eval(data.data);
                        cityPicker1.setData(data);
                        cityPicker2.setData(data);
                        cityPicker3.setData(data);

                        var button1 = doc.getElementById('area1');
                        button1.addEventListener('tap', function(event) {
                            cityPicker1.show(function(items) {
                                var show = items[0].text + ' ' + items[1].text + ' ' + items[2].text;
                                $('#show1').val(show);

                                var key = items[0].value + ',' + items[1].value + ',' + items[2].value;
                                $('#server1').val(key);
                            });
                        }, false);

                        var button2 = doc.getElementById('area2');
                        button2.addEventListener('tap', function(event) {
                            cityPicker2.show(function(items) {
                                var str = items[0].text + ' ' + items[1].text + ' ' + items[2].text;
                                $('#show2').val(str);

                                var key = items[0].value + ',' + items[1].value + ',' + items[2].value;
                                $('#server2').val(key);
                            });
                        }, false);

                        var button3 = doc.getElementById('area3');
                        button3.addEventListener('tap', function(event) {
                            cityPicker3.show(function(items) {
                                var str = items[0].text + ' ' + items[1].text + ' ' + items[2].text;
                                $('#show3').val(str);

                                var key = items[0].value + ',' + items[1].value + ',' + items[2].value;
                                $('#server3').val(key);
                            });
                        }, false);
                    }
                }
            });
        });
    })(mui, document);
</script>