#set($layout = "layout.vm")
#parse("sys_param.vm")

<div class="container content">
    <div class="row">
        <div class="col-sm-12 paginationDiv">
            <div class="page-nav">
                <a href="javascript:void(0);" class="last">订单管理</a>
                &gt;
                <a href="javascript:void(0)" class="last">订单信息</a>
##                <button class="reback" onclick="history.go(-1)"><i class="iconfont icon-left"></i>返回</button>
            </div>
            <!--search  area-->
            <div class="searchArea">
                <form action="$!{CONTEXT_PATH}/order/list" method="post" id="searchForm">
                    <div class="form-group">
                        <label>手机号码</label>
                        <input type="text" class="form-control" name="phoneNo" />
                    </div>
                    <div class="form-group">
                        <label>订单状态</label>
                        <select name="status" class="form-control">
                            <option value="">全部</option>
                            #foreach($param in $!{cache.getListByKey("ORDER_STATUS")})
                            <option value="$!{param.pValue}">$!{param.pDesc}</option>
                            #end
                        </select>
                    </div>
                </form>
                <button class="btn btn-primary search" onclick="qryData('searchForm')"><i class="iconfont icon-sousuo"></i>查询</button>
                <button class="btn btn-success reset" onclick="resetForm('searchForm')"><i class="iconfont icon-shuaxin"></i>重置</button>
            </div>
            <!--card list-->
            <div class="btn-list">
                <button class="btn btn-success" data-toggle="modal" data-target="#add"><i class="iconfont icon-jia"></i>新增</button>
            </div>

            <!--table area-->
            <div class="table_area">
                <input type="hidden" id="p_number" value="">

                <div class="queryResultList" id="queryResultList">

                </div>

                #paginationDiv()

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加患者信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal_wrap">
                    <form id="addForm">
                        <!--info table-->
                        <table class="table table-bordered detailInfo">
                            <tr>
                                <td class="col-sm-2">手机号码<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <input class="form-control validate[required]" type="text" name="phoneNo" />
                                </td>
                                <td class="col-sm-2">昵称</td>
                                <td class="col-sm-4">
                                    <input class="form-control" type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">是否分红<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <select name="isReward" class="form-control validate[required]">
                                        #foreach($param in $!{cache.getListByKey("IS_REWARD")})
                                            <option value="$!{param.pValue}">$!{param.pDesc}</option>
                                        #end
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer border">
                <button type="button" class="btn btn-success btn-baocun btn-add"><i class="iconfont icon-baocun"></i>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改患者信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal_wrap">
                    <form id="modifyForm">
                        <input type="hidden" name="id" >
                        <!--info table-->
                        <table class="table table-bordered detailInfo">
                            <tr>
                                <td class="col-sm-2">手机号码<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <input class="form-control validate[required]" type="text" name="phoneNo" />
                                </td>
                                <td class="col-sm-2">昵称</td>
                                <td class="col-sm-4">
                                    <input class="form-control" type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">是否分红<span class="star">*</span></td>
                                <td class="col-sm-4">
                                    <select name="isReward" class="form-control validate[required]">
                                        #foreach($param in $!{cache.getListByKey("IS_REWARD")})
                                            <option value="$!{param.pValue}">$!{param.pDesc}</option>
                                        #end
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer border">
                <button type="button" class="btn btn-success btn-baocun btn-modify"><i class="iconfont icon-baocun"></i>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">订单信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal_wrap">
                    <form id="approveForm">
                        <input type="hidden" name="id" >

                        <ul id="myTab" class="nav nav-tabs" style="border-bottom: 0px;">
                            <li class="active"><a href="#basicInfo" data-toggle="tab">基本信息</a></li>
                            <li><a href="#link" data-toggle="tab">联系人信息</a></li>
                            <li><a href="#date" data-toggle="tab">预约时间段</a></li>
                            <li><a href="#diagnosis" data-toggle="tab">诊断证明</a></li>
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="basicInfo">
                                <table class="table table-bordered detailInfo">
                                    <tr>
                                        <td class="col-sm-2">患者姓名<span class="star"></span></td>
                                        <td class="col-sm-4">
                                            <input type="text" name="patientName" id="patientName" class="form-control" placeholder="请输入" />
                                        </td>
                                        <td class="col-sm-2">患者年龄<span class="star"></span></td>
                                        <td class="col-sm-4">
                                            <input type="text" name="patientAge" id="patientAge" class="form-control" placeholder="请输入" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">患者性别<span class="star"></span></td>
                                        <td class="col-sm-4">
                                            <select name="sex" class="form-control">
                                                #foreach($param in $!{cache.getListByKey("SEX")})
                                                    <option value="$!{param.pValue}">$!{param.pDesc}</option>
                                                #end
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">地址<span class="star"></span></td>
                                        <td class="col-sm-10" colspan="3">
                                            <input type="text" name="address" class="form-control" placeholder="请输入详细地址"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">审核意见<span class="star">*</span></td>
                                        <td class="col-sm-10" colspan="3">
                                            <textarea rows="3" name="auditMsg" class="form-control validate[required]" placeholder="请填写审核意见..."></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="link">
                                <table class="table table-bordered detailInfo">
                                    <tr>
                                        <td class="col-sm-2">联系人<span class="star"></span></td>
                                        <td class="col-sm-4">
                                            <input type="text" name="linkName" id="linkName" class="form-control" placeholder="请输入"/>
                                        </td>
                                        <td class="col-sm-2">联系人电话<span class="star"></span></td>
                                        <td class="col-sm-4">
                                            <input type="text" name="linkPhone" id="linkPhone" class="form-control" placeholder="请输入"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">与患者关系<span class="star"></span></td>
                                        <td class="col-sm-10" colspan="3">
                                            <select class="form-control" name="linkRelation">
                                                <option value="1">本人</option>
                                                <option value="2">父亲</option>
                                                <option value="3">爷爷</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="date">
                                <table class="table table-bordered detailInfo">
                                    <tr>
                                        <td class="col-sm-2">时间段1<span class="star"></span></td>
                                        <td class="col-sm-5">
                                            <input type="text" name="start0" class="form-control" placeholder="请输入"/>
                                        </td>
                                        <td class="col-sm-5">
                                            <input type="text" name="end0" class="form-control" placeholder="请输入"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">时间段2<span class="star"></span></td>
                                        <td class="col-sm-5">
                                            <input type="text" name="start1" class="form-control" placeholder="请输入"/>
                                        </td>
                                        <td class="col-sm-5">
                                            <input type="text" name="end1" class="form-control" placeholder="请输入"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">时间段3<span class="star"></span></td>
                                        <td class="col-sm-5">
                                            <input type="text" name="start2" class="form-control" placeholder="请输入"/>
                                        </td>
                                        <td class="col-sm-5">
                                            <input type="text" name="end2" class="form-control" placeholder="请输入"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="diagnosis">
                                <table class="table table-bordered detailInfo">
                                    <tr>
                                        <td class="col-sm-2">诊断证明<span class="star"></span></td>
                                        <td class="col-sm-10 filePathList">

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer border">
                <button type="button" class="btn btn-success btn-baocun btn-audit" auditType="1"><i class="iconfont icon-shenhe"></i>审核通过</button>
                <button type="button" class="btn btn-warning btn-baocun btn-audit" auditType="0"><i class="iconfont icon-chexiao"></i>审核不通过</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="iconfont icon-cuowu"></i>取消</button>
            </div>
        </div>
    </div>
</div>

<!--相册功能-->
<div class="modal fade pic" id="pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <img src="" alt="" class="bigPicImg" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">
    $(function() {
        qryData('searchForm');

        $('#add').on('show.bs.modal', function() {
            $('#addForm').validationEngine('hideAll');
            $('#addForm')[0].reset();
        })

        // 新增保存
        $('.btn-add').click(function() {
            var flag = $('#addForm').validationEngine('validate');
            if(!flag)
                return;

            showMask();

            var url = base + '/accountPatient/add';
            $.ajax({
                url: url,
                data: $('#addForm').serialize(),
                type: 'post',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        hideMask();
                        $('#addForm')[0].reset();
                        $('#add').modal('hide');

                        qryData('searchForm');
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        // 修改按钮加载数据
        $('#modify').on('show.bs.modal', function (el) {
            $('#modifyForm').validationEngine('hideAll');
            $('#modifyForm')[0].reset();

            showMask();

            var invoker = $(el.relatedTarget);

            var id = invoker.attr('id');

            var url = base + '/account/get?id=' + id;
            $.ajax({
                url: url,
                type: 'get',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        data = data.data;

                        $('#modifyForm').find('input[name="id"]').val(data.id);

                        $('#modifyForm').find('input[name="phoneNo"]').val(data.phoneNo);
                        $('#modifyForm').find('input[name="name"]').val(data.name);

                        $('#modifyForm').find('select[name="isReward"]').find('option[value=' + data.isReward + ']').attr('checked', 'checked');

                        hideMask();
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        // 修改保存
        $('.btn-modify').click(function() {
            var flag = $('#modifyForm').validationEngine('validate');
            if(!flag)
                return;

            showMask();

            var url = base + '/accountPatient/modify';
            $.ajax({
                url: url,
                data: $('#modifyForm').serialize(),
                type: 'post',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        hideMask();
                        $('#modify').modal('hide');

                        qryData('searchForm');
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        // 审批按钮加载数据
        $('#approve').on('show.bs.modal', function (el) {
            $('#approveForm').validationEngine('hideAll');
            $('#approveForm')[0].reset();

            $('#myTab a:first').tab('show');
            showMask();

            $('#approveForm').find('input').attr('disabled', 'disabled');
            $('#approveForm').find('select').attr('disabled', 'disabled');

            // id可用
            $('#approveForm').find('input[name="id"]').removeAttr('disabled');

            $('#approveForm').find('img').css({'width': '150px', 'height': '80px'});

            var invoker = $(el.relatedTarget);

            var id = invoker.attr('id');

            var url = base + '/order/getOrderInfo?id=' + id;
            $.ajax({
                url: url,
                type: 'get',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        data = data.data;

                        var orderInfo = data.orderInfo;
                        var orderBooking = data.orderBooking;
                        var orderDateList = data.orderDateList.list;
                        var filePathList = data.filePathList;

                        $('#approveForm').find('input[name="id"]').val(orderInfo.id);

                        // 基本信息
                        $('#approveForm').find('input[name="patientName"]').val(orderBooking.patientName);
                        $('#approveForm').find('select[name="patientSex"]').find('option[value=' + orderBooking.patientSex + ']').attr('selected', 'selected');
                        $('#approveForm').find('input[name="patientAge"]').val(orderBooking.patientAge);
                        $('#approveForm').find('input[name="address"]').val(orderBooking.address);

                        // 联系人信息
                        $('#approveForm').find('input[name="linkName"]').val(orderBooking.linkName);
                        $('#approveForm').find('input[name="linkPhone"]').val(orderBooking.linkPhone);
                        $('#approveForm').find('input[name="linkRelation"]').find('option[value=' + orderBooking.linkRelation + ']').attr('selected', 'selected');

                        // 预约时间
                        for(var i = 0; i < orderDateList.length; i++) {
                            $('#approveForm').find('input[name="start' + i +'"]').val(orderDateList[i].startDate);
                            $('#approveForm').find('input[name="end' + i +'"]').val(orderDateList[i].endDate);
                        }

                        // 诊断证明
                        $('.filePathList').empty();
                        for(var i = 0; i < filePathList.length; i++) {
                            var img = $('<img style="width:70px; height: 40px; margin-top: 4px; margin-right: 2px;" data-toggle="modal" data-target="#pic" >');
                            img.attr('src', filePathList[i]);

                            $('.filePathList').append(img);
                        }

                        hideMask();
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });

        $('#pic').on('show.bs.modal', function (el) {
            var invoker = $(el.relatedTarget);
            var src = invoker.attr('src');

            if(!src) {
                return;
            }
            $('#pic').find('.bigPicImg').attr('src', src);

        });

        // 审核
        $('.btn-audit').click(function() {
            var flag = $('#approveForm').validationEngine('validate');
            if(!flag)
                return;

            var _this = $(this);
            var type = _this.attr('auditType');

            showMask();

            var url = base + '/order/approve?auditType=' + type;
            $.ajax({
                url: url,
                data: $('#approveForm').serialize(),
                type: 'post',
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('系统错误');
                    hideMask();
                },
                success : function (data, textStatus) {
                    if(data.flag) {
                        hideMask();
                        $('#approve').modal('hide');

                        qryData('searchForm');
                    } else {
                        hideMask();
                        alert(data.msg);
                    }
                }
            });
        });
    });
</script>