<!DOCTYPE html>
<html>
<head>
    #parse("sys_param.vm")

    <meta charset="UTF-8">
    <meta a name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>$!{TITLE}</title>

    #parse("addon/css.vm")
</head>
<body class="mye bg_white over">
<div class="container">
    <div class="row">
        <header class="tc">
            <a href="javascript:history.void(0);" class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <span>我的E帮护</span>
            <a href="javascript:void(0)" class="fr infotips current"></a>
        </header>
        <div class="photobox">
            <div class="headpic">
                <img src="$!{CONTEXT_PATH}/static/img/photo.png" alt="" />
            </div>
            <p class="name">$!{sessionDetail.getSessionDetail($!{request}).getName()}</p>
        </div>
        <div class="card tc clearfix">
            <div class="col-xs-4">
                <p class="num">$!{stat.startNum}</p>
                <p>新派订单</p>
            </div>
            <div class="col-xs-4">
                <p class="red num">$!{stat.assessmentNum}</p>
                <p>待评估订单</p>
            </div>
            <div class="col-xs-4 b-n">
                <p class="num">$!{stat.serviceNum}</p>
                <p>服务中订单</p>
            </div>
        </div>
        <div class="cardnav">
            <div class="wrapbox clearfix">
                <a class="col-xs-3" href="$!{CONTEXT_PATH}/order/myOrder">
                    <img src="$!{CONTEXT_PATH}/static/img/allorder.png" alt="" />
                    <p>全部订单</p>
                </a>
                <a class="col-xs-3">
                    <img src="$!{CONTEXT_PATH}/static/img/pts.png" alt="" />
                    <p>我的患者</p>
                </a>
                <a class="col-xs-3">
                    <img src="$!{CONTEXT_PATH}/static/img/personal.png" alt="" />
                    <p>个人资料</p>
                </a>
                <a class="col-xs-3">
                    <img src="$!{CONTEXT_PATH}/static/img/setting.png" alt="" />
                    <p>设置</p>
                </a>
                <a class="col-xs-3">
                    <img src="$!{CONTEXT_PATH}/static/img/about.png" alt="" />
                    <p>关于E帮护</p>
                </a>
                <a class="col-xs-3">
                    <img src="$!{CONTEXT_PATH}/static/img/agreement.png" alt="" />
                    <p>用户协议</p>
                </a>
            </div>
        </div>
        <div class="footer">
            <p>客服电话：<b>400-158-1616</b></p>
        </div>
    </div>
</div>
</body>
</html>
#parse("addon/javascript.vm")
