<!-- Bootstrap core CSS -->
<link href="$!{CONTEXT_PATH}/static/js/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!--link the font css-->
<link rel="stylesheet" href="$!{CONTEXT_PATH}/static/fonts/iconfont.css" />

<link rel="stylesheet" href="$!{CONTEXT_PATH}/static/css/mobile.css?_=1" />
<!--global css-->
<link rel="stylesheet" href="$!{CONTEXT_PATH}/static/css/app.css" />